
include full-detail-form

doctype html
html
  head
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-6
      a.navbar-brand.mr-0(href='/') Tralee Tutors
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample03', aria-controls='navbarsExample03', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExample03.collapse.navbar-collapse
        .mr-auto
        ul.navbar-nav.mr-0
          li.nav-item.active
            a.nav-link(href='/grinds') Grinds
          li.nav-item.active
            a.nav-link(href='/login')
              | Login 
              span.sr-only (current)
          li.nav-item.active
            a.nav-link(href='/register') Register  
          li.nav-item.active
            a.nav-link(href='/update-account') Update Account          
          li.nav-item.active
            a.nav-link(href='/remove-account') Remove Account  

    block content
    block scripts
      script(src='/javascripts/jquery.slim.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
      script(src='/javascripts/bootstrap.min.js')


      script(src='/app-public/build/runtime-es5.edb2fcf2778e7bf1d426.js')
      script(src='/app-public/build/ main-es5.c7bd8556888388069812.js')
      script(src='/app-public/build/polyfills-es5.ef4b1e1fc703b3ff76e3.js')
    
    
    