extends layout

block content
    .col-md-6.col-sm-8.col-lg-4.col-xl-3.ml-auto.mr-auto.top-center
      label.sr-only(for='updateName') Name to be updated
      input.mb-3.form-control(type='text', placeholder='Full name to be updated',name='updateName', required='', autofocus='')
      
      + full-detail-form()