extends layout

block content

  .text-center.mt-5
    form.col-md-6.col-sm-8.col-lg-4.col-xl-3.ml-auto.mr-auto( method='post', role='form')
      img.mb-4.mr-auto(src='/images/logo.png', alt='',  width='100px')
      h1.h3.mb-3.font-weight-normal Please #{title}
      label.sr-only(for='email') Email address
      input.mb-3#inputEmail.form-control(type='email', placeholder='Email address', name='email', required='', autofocus='')
      label.sr-only(for='password') Password
      input.mb-3#inputPassword.form-control(type='password',name='password', placeholder='Password', required='')
      
      button.btn.btn-lg.btn-primary.btn-block(type='submit') #{title}
      p.mt-5.mb-3.text-muted &copy; 2019

