extends layout

block content
  .col-lg-7.col-md-8.col-sm-10.col-11.ml-auto.mr-auto.mt-5.mb-5
    .grind-snip.mb-3
      .row
        h2= oneGrind.grindTitle
        .ml-auto.mr-5 
          - for(var i = 0; i < 5; i++) {
            if oneGrind.rating > i 
              i.fa.fa-star
            else            
              i.fa.fa-star-o 
          - }
 
      .row
        |By: #{oneGrind.author}

      .row.desc
        .col-xl-6.ml-0.ml-0.pl-0
          .row
            |Description:
          .row 
            .grind-desc
              p #{oneGrind.description}
        .col-xl-3.mx-auto
          |Select Date: 
          br
          label.sr-only(for='inputEmail') Select date
          input.mb-3.mt-1#inputEmail.form-control(type='date', placeholder='', required='', autofocus='')
          label.sr-only(for='inputEmail') Select time
          |Select Time: 
          br
          label.sr-only(for='inputEmail') Select date
          select.mb-3.mt-1#inputEmail.form-control( name='time')
            each time in oneGrind.times
              option #{time}
          button.btn.btn-primary.btn-block(type='submit') Book Grind 

        